.search-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-card {
  width: 45%;
}

.search-bar {
  width: 75%;
  padding: .75rem 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.result {
  width: 100%;
}

.divider {
  margin: 1rem 0;
}
